.box{
  border: 1px solid #E5E5E5;
  margin-bottom: 30px;
  background: #fff;
}
.box .image {
  float: left;

}
.image img{
  position: relative;
  padding: 10px !important;
  max-width: 140px;
  max-height: 140px;
}
.box .caption {
  position: relative;
  border-left: 1px solid #E5E5E5;
  padding: 19px 90px 19px 15px;
  margin-left: 130px;
  min-height: 135px;
}

.box .caption span {
  color: #757575;
}

.box .caption h4 {
  font-size: 16px;
  font-weight: 600;
  color: #e54c2a;
  margin: 0 0 4px;
}
