<div class="container">
  <nav class="navbar navbar-expand-sm bg-info navbar-light fixed-top">
    <!-- Logo Start  -->
    <a class="navbar-brand" href="index.html">
            <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
            <!-- <img id="logo_img" src="assets/images/logo/dummy.png" alt="logo" title="logo" style="width:50px" /> -->
        </a>
    <!-- Logo End  -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger" aria-controls="hamburger" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="hamburger">
      <!-- Main menu Start  -->
      <ul class="navbar-nav mx-auto">
        <li class="navbar-item">
          <a href="#home" class="nav-link active"> {{'menu.home' | translate | uppercase}}</a>
        </li>
        <li class="navbar-item">
          <a href="#about" class="nav-link">{{'menu.about'  | translate | uppercase}}</a>
        </li>
        <li class="navbar-item">
          <a href="#menu" class="nav-link">{{'menu.items'  | translate | uppercase}}</a>
        </li>
        <li class="navbar-item">
          <a href="#reservation" class="nav-link">{{'menu.reservation'  | translate | uppercase }}</a>
        </li>
        <li class="navbar-item">
          <a href="#contact" class="nav-link">{{'menu.contact'  | translate | uppercase }}</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link dropdown-toggle" id="languageSelector" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">{{'menu.language'| translate | uppercase}} </a>
          <div class="dropdown-menu" aria-labelledby="languageSelector">
            <a (click)="changeLanguage('en')" class="dropdown-item">English</a>
            <a (click)="changeLanguage('fi')" class="dropdown-item">Suomi</a>

          </div>

        </li>

      </ul>
    </div>
    <!-- Menu End  -->
  </nav>
</div>

<div id="home" class="slide">
  <!-- images slider -->
  <div class="slideshow">
    <div class="slideItem">
      <img src="" alt="banner" class="img-fluid">
    </div>
    <div class="slideItem">
      <img src="" alt="banner" class="img-fluid">
    </div>
    <div class="slideItem">
      <img src="" alt="banner" class="img-fluid">
    </div>
  </div>
  <div class="slide-detail text-center">
    <div class="container">
      <h4>{{'main-section.title'|translate}}</h4>
      <p>{{'main-section.desc' | translate}}
      </p>
    </div>
  </div>
</div>

<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{'about-section.title'|translate}}</h4>
        <p>{{'about-section.desc'|translate}}</p>
      </div>
    </div>
  </div>
</div>

<div id="menu" class="menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{'dish-section.title'|translate}}</h4>
        <p>{{'dish-section.desc'|translate}}</p>
      </div>
      <app-menu></app-menu>

  </div>
  </div>
</div>

<div id="reservation" class="reservation text-center">
  <div class="container ">
    <h4>{{'reserve-section.title'|translate}}</h4>
    <p>{{'reserve-section.desc'|translate}}</p>
    <button type="button" class="btn btn-info btn-lg">{{'reserve-section.btn-text'|translate}}</button>
  </div>
</div>

<div id="contact" class="contact">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h4>{{'info-section.title'|translate}}</h4>
      </div>
      <div class="col-sm-5">
        <p>{{'info-section.desc'|translate}}</p>
      </div>
      <div class="col-sm-7">
        <!-- Map integration -->
        <div class="map">
         <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>

        <!-- Map ends -->
      </div>
    </div>
  </div>
</div>
<!-- Sample Instagram feed section!! Need concrete implementation later -->

<div id="instafeed">
  <ul>
    <li *ngFor='let post of posts '><img src={{post.data[x].images.low_resolution.url}}></li>
  </ul>
</div>

<!-- Button not working as of now. Need attention later -->
<!-- <button id="toTop"><span class="fa fa-arrow-circle-up"></span></button> -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>{{'contact-section.title'|translate}}</h5>
        <ul>
          <li>
            <span class="fa fa-map-marker"></span> {{'contact-section.contact.add'|translate}}</li>
          <li>
            <span class="fa fa-phone"></span>{{'contact-section.contact.phone'|translate}}</li>
          <li>
            <span class="fa fa-envelope"></span>{{'contact-section.contact.email'|translate}}</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h5>{{'contact-section.hours.title' | translate}}</h5>
        <ul>
          <li>{{'contact-section.hours.week-day' | translate}}: 09-23</li>
          <li>{{'contact-section.hours.sat' | translate}}: 11-22</li>
          <li>{{'contact-section.hours.sun' | translate}}: 11-23</li>
          <li>{{'contact-section.hours.launch' | translate}}: 11-15 </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
